@font-face {
    font-family: Adrenaline;
    src: url("../fonts/Adrenaline-Regular.woff2");
}

h1.title {
  font-size: 6em;
  margin-bottom: 1em;
  font-family: Adrenaline;
}

p.big {
  font-size: 2em;
}
p.small {
  font-size: 1.3em;
}


#banner
{
  padding-top: 10vh;
  background-image: url("../images/gradient_sky.jpg");
  background-size: 100vw 100vh;
  text-align: center;

  color: #F7F7F7;
}

#main
{
  padding-top: 0vh;
}

#service
{
  background: #7474BF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron
{
    background-color: transparent;
}

.foot {

  padding: 10vh 0vh 10vh 0vh;
}

.footer {
  min-height: 10vh;
  min
  text-align: center;
  color: blue;
  background-color: rgba(0,0,0,0.1);
}

.text-muted {
  margin: 20px 0;
  color: black;
}

.thumbnail img {
  margin-top: 1em;
}

.thumbnail{
  min-height:30vh;
}

.thumbnail h3 {
  text-align: center;
  font-weight: bold;
}

.thumbnail p{
  text-align:center;
}
