
h1.title {
  font-size: 4em;
  margin-bottom: 1em;
  /* font-family: Adrenaline; */
}

.sousTitre
{
  font-size: 12pt;
}

.intituleT
{
  font-size: 18pt;
}

.banner {
  color: #FFFFFF;
}

.carteInfos
{
  padding-left: 2vw;
}

.nav-tabs
{
  background-color: rgba(255,255,255,0.6);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.infos
{
    background-color: rgba(255,255,255,0.4);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.nav-tabs a
{
  color: black;
  font-weight: bold;
}

body
{
  background-color: #afafaf;
}

.btn_arreter
{
  background-color: #ff5b5b;
}

.btn_lancer_disable
{
  pointer-events: none;
}

.btn_lancer_tournoi
{
  background-color: #56ce60;
}
