@font-face {
    font-family: Adrenaline;
    src: url("../fonts/Adrenaline-Regular.woff2");
}

#main
{
  padding-top: 0vh;
  background-image: None;

}

.thumbnail
{
    height: 25vh;
}

h1.title {
  font-size: 6em;
  margin-bottom: 1em;
  font-family: Adrenaline;
}

.sousTitre
{
  font-size: 12pt;
}

.intituleT
{
  font-size: 18pt;
}

.banner
{
  color: #f2f2f2;
  padding-top: 10vh;
  background-image: url("../images/gradient_sky.jpg");
  background-size: 100vw 100vh;
  text-align: center;
}

body
{
  background-color: #afafaf;
}
