@font-face {
    font-family: Adrenaline;
    src: url("../fonts/Adrenaline-Regular.woff2");
}

#main
{
  /* padding-top: 0vh; */
  /* background-image: None; */

}

.thumbnail
{
    background-color: rgba(255,255,255,0.4);
}

h1.title {
  font-size: 5em;
  margin-bottom: 1em;
  font-family: Adrenaline;
}

.sousTitre
{
  font-size: 12pt;
}

.intituleT
{
  font-size: 18pt;
}

.banner {
  color: #FFFFFF;
}


body
{
  background-color: #afafaf;
}
