.uk-container{
  padding-top:3vh;
}

label{
  text-align: center;
}

#radioBouton{
  margin-top:10px;
}

#test{
  padding-top:10vh;
  background: rgb(184,225,252);;  /* fallback for old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(184,225,252,1) 0%,
    rgba(169,210,243,1) 10%,
    rgba(144,186,228,1) 25%,
    rgba(144,188,234,1) 43%,
    rgba(144,191,240,1) 43%,
    rgba(144,188,234,1) 43%,
    rgba(107,168,229,1) 73%,
    rgba(162,218,245,1) 83%,
    rgba(189,243,253,1) 100%);

  background: -webkit-linear-gradient(
    -45deg,
    rgba(184,225,252,1) 0%,
    rgba(169,210,243,1) 10%,
    rgba(144,186,228,1) 25%,
    rgba(144,188,234,1) 43%,
    rgba(144,191,240,1) 43%,
    rgba(144,188,234,1) 43%,
    rgba(107,168,229,1) 73%,
    rgba(162,218,245,1) 83%,
    rgba(189,243,253,1) 100%);

  background:  linear-gradient(135deg,
     rgba(184,225,252,1) 0%,
     rgba(169,210,243,1) 10%,
     rgba(144,186,228,1) 25%,
     rgba(144,188,234,1) 43%,
     rgba(144,191,240,1) 43%,
     rgba(144,188,234,1) 43%,
     rgba(107,168,229,1) 73%,
     rgba(162,218,245,1) 83%,
     rgba(189,243,253,1) 100%);
  min-height: 100vh;
}

textarea{
  resize:none;
}

.btn{
  background: rgb(157,213,58);
  background: -moz-linear-gradient(left,
    rgba(157,213,58,1) 0%,
    rgba(161,213,79,1) 18%,
    rgba(161,213,79,1) 31%,
    rgba(161,213,79,1) 31%,
    rgba(161,213,79,1) 43%,
    rgba(161,213,79,1) 53%,
    rgba(124,188,10,1) 100%);
  background: -webkit-linear-gradient(left,
    rgba(157,213,58,1) 0%,
    rgba(161,213,79,1) 18%
    ,rgba(161,213,79,1) 31%,
    rgba(161,213,79,1) 31%,
    rgba(161,213,79,1) 43%,
    rgba(161,213,79,1) 53%,
    rgba(124,188,10,1) 100%);
  background: linear-gradient(to right,
    rgba(157,213,58,1) 0%,
    rgba(161,213,79,1) 18%,
    rgba(161,213,79,1) 31%,
    rgba(161,213,79,1) 31%,
    rgba(161,213,79,1) 43%,
    rgba(161,213,79,1) 53%,
    rgba(124,188,10,1) 100%);
  color:gray;
}
