
.bouton {
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 15px;
   padding: 10px;
   background-color: #51A4F6;
   text-shadow: 1px 1px 20px #000000;
   margin-bottom:20px;

}

.bouton:hover {
   background: #1E62D0;
}

.uk-accordion > li {
  padding-bottom: 2vh;
}

.liste_equipes {
}

.divCartes {
  padding-top: 2vh;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.divCartes {
}
