.voirMatches{
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
}

.panneau_haut{
  display: flex;
  justify-content: center;
  flex: 1 1 100%;
}

.block_classement{
  flex:1 1 50%;
  padding: 2%;
}

.block_matchs{
  flex:1 1 50%;
  padding: 2%;
}

.row{
  height:5em;
}
