.voirMatches{
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
}

.panneau_haut{
  display: flex;
  justify-content: center;
  flex: 1 1 100%;
}

.block_classement{
  flex:1 1 50%;
  padding: 2%;
}

.block_matchs{
  flex:1 1 50%;
  padding: 2%;
}

.row{
  height:5em;
}

body {
  background: #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
