
.mainCont {
  padding-top: 2vh;
}

.table{
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

body {
  min-height:100vh;
}

.main {
  padding-top: 2vh;
}

.fb_btn
{
  color: black;
}
