.voirMatches{

}

.table{
  /* background-color: white; */
  border-radius: 1vh;
}

body {
  height:100vh;
  background: #606c88;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
