
h1{
  color:black;
  font-weight: bold;
}

.divCartes{
  padding-top: 5vh;
}

.img_logo {
  max-width: 20vh;
  max-height: 20vh;
}

.thumbnail{
  background-color: rgba(255,255,255,0.4);
  margin-left:2vh;
  position:relative;
}


h2{
  color:black;
  font-weight: bold;
  font-family: Paytone One;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align:center;
}

.bouton {
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 15px;
   padding: 10px;
   background-color: #51A4F6;
   text-shadow: 1px 1px 20px #000000;
   margin-bottom:20px;

}

.bouton:hover {
   background: #1E62D0;
}
