
h1 {
  margin-bottom: 1em;
  color:red;
}

#main{
  /* padding-top: 20vh; */
}

#banner
{
  padding-top: 20vh;
  background: #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* min-height: 91.1vh; */
  min-height: 100vh;
}
#service
{
  /* min-height: 91.2vh; */
  min-height: 100vh;
  /* padding-top: 5vh; */
  background: #7474BF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron
{
    background-color: transparent;
}

.item {
}

.foot {
  min-height: 90vh;
  /* padding-top: 50px; */
  padding-top: 20vh;
}

.footer {
  min-height: 10vh;
  min
  text-align: center;
  color: blue;
  background-color: rgba(0,0,0,0.1);
}

.text-muted {
  margin: 20px 0;
  color: black;
}

.navbar {
  /* background-color: transparent; */
}
