nav>ul>li{
    list-style:none;
    margin-bottom:2vw;
    padding-top:3vw;
}

ul{
    margin-top:3vw;
}

.banner{
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    padding-top:3vw;
}

.sidebar{
    background-color: white;
    padding-bottom:40vw; 
}


