{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ajoutMembre.css') }}">
{% endblock %}
{% block main %}
<div class="thumbnail">
        <div class="caption">
          <h3>Capitaine</h3>
            <div class="input-group" id="text_field_nom">
              <span class="input-group-addon" id="">Nom</span>
              <input name="nom_capitaine" type="text" class="form-control" id="" aria-describedby="basic-addon3" required>
            </div>
            <div class="input-group" id="text_field_nom">
              <span class="input-group-addon" id="">Prenom</span>
              <input name="prenom_capitaine" type="text" class="form-control" id="" aria-describedby="basic-addon3" required>
            </div>
            <div class="input-group" id="text_field_nom">
              <span class="input-group-addon" id="">Email</span>
              <input name="mail_capitaine" type="text" class="form-control" id="" aria-describedby="basic-addon3" required>
            </div>
        </div>
</div>
{% endblock %}