{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ajoutMembre.css') }}">
{% endblock %}
{% block main %}
<div class="container-fluid" id="contmain">
  <div class="container">
    <h1 id="nom_equipe" > Ajouter des participants à "{{ equipe.nomE }}"</h1>
      <!-- Example row of columns -->
      <form method="post" action="/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipe.idE}}/ajouter_membre">
      <div class="row">
        {% for x in range(equipe.nbParticipant) %}
        <div class="col-sm-6 col-md-{{tailleEquipe}}">
          <div class="thumbnail">
            <div class="caption">
              <h3>Membre {{x+1}}</h3>
                <div class="input-group" id="text_field_nom">
                  <span class="input-group-addon" id="">Nom</span>
                  <input name="nom_membre{{x+1}}" type="text" class="form-control" id="" aria-describedby="basic-addon3">
                </div>
                <div class="input-group" id="text_field_nom">
                  <span class="input-group-addon" id="">Prenom</span>
                  <input name="prenom_membre{{x+1}}" type="text" class="form-control" id="" aria-describedby="basic-addon3">
                </div>
                <div class="input-group" id="text_field_nom">
                  <span class="input-group-addon" id="">Email</span>
                  <input name="mail_membre{{x+1}}" type="text" class="form-control" id="" aria-describedby="basic-addon3">
                </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success btn-lg">Ajouter équipe</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
