{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ajoutPhoto.css') }}">
{% endblock %}
{% block main %}
<div class="container-fluid" id="contmain">
    <h1 class="text-center titre" id="nom_equipe"> Ajouter des photos à "{{ tournoi.intituleT }}"</h1>
    <div class="container divCenter">
        <!-- Example row of columns -->
        <form method="post" action="/tableau_de_bord/{{ tournoi.idT}}/confirmer_photo" enctype="multipart/form-data" onsubmit=" return confirmerValidation();">

            <label for="mon_fichier">Fichier (tous formats | max. 1 Mo) :</label><br>
            <!-- <input type="hidden" name="MAX_FILE_SIZE" value="1048576" /> -->

            <input type="file" name="photo" accept=".png, .jpg, .jpeg" id="mon_fichier" /><br>
            <button type="submit" name="button">Upload</button>

        </form>
    </div>
</div>
<script>
    function confirmerValidation(){
      check=window.confirm("Voulez vous vraiment ajouter cette photo");
      res=false;
      if (check){
        res=true;
      }
      return res;
    }

    document.querySelector("#Tableau").setAttribute("class","active");

  </script>
{% endblock %}
