{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/creerEquipe.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.css') }}">
{% endblock %}
{% block scripts %}
<script src="/static/js/uikit.min.js"></script>
<script src="/static/js/uikit-icons.min.js"></script>
{% endblock %}
{% block main %}
<div class="container voirCompetition text-center center-block" id="contmain">
    <h1 id="nom_equipe" > Ajouter une équipe à "{{ tournoi.intituleT }}"</h1>
      <!-- Example row of columns -->
      <form method="post" action="/tableau_de_bord/{{tournoi.idT}}/equipes/confirmer_equipe" onsubmit=" return confirmerValidation();">
        <div class="input-group wCreerEquipe centered" id="text_field_nom">
          <span class="input-group-addon" id="">Nom de l'équipe</span>
          <input name="nom_equipe" type="text" class="form-control" id="" aria-describedby="basic-addon3">
        </div>

          <div class="thumbnail wCreerEquipe centered">
            <div class="caption">
              <h3>Capitaine</h3>
                <div class="input-group centered" id="text_field_nom">
                  <span class="input-group-addon" id="">Nom</span>
                  <input name="nom_capitaine" type="text" class="form-control" id="" aria-describedby="basic-addon3" required>
                </div>
                <div class="input-group centered" id="text_field_nom">
                  <span class="input-group-addon" id="">Prenom</span>
                  <input name="prenom_capitaine" type="text" class="form-control" id="" aria-describedby="basic-addon3" required>
                </div>
                <div class="input-group centered" id="text_field_nom">
                  <span class="input-group-addon" id="">Email</span>
                  <input name="mail_capitaine" type="text" class="form-control" id="" aria-describedby="basic-addon3">
                </div>
            </div>
          </div>
          <br>
          <div class="input-group wCreerEquipe centered" id="text_field_nom">
            <span class="input-group-addon" id="">Nombre de membre en plus</span>
            <input name="nbParticipant" class="form-control" id="" type="number" placeholder="Nombre membre" max="{{(tournoi.nbParticipantsMax)-1}}" required>
          </div>

          <div class="input-group wCreerEquipe centered" id="text_field_nom">
            <span class="input-group-addon">Machine équipe</span>
            <input name="machineE" class="form-control" type="text" placeholder="Machine" required>
          </div>
          
          {% if machineExiste==1 %}
          <div class="uk-alert-warning" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>Cette machine est déjà utilisée !</p>
          </div>
          {% endif %}

          {% if machineExiste==1 %}
          <div class="uk-alert-warning" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>Ce nom d'équipe est indisponible !</p>
          </div>
          {% endif %}

        <div class="text-center">
          <button type="submit" class="btn btn-success btn-lg">Ajouter équipe</button>
        </div>

    </form>
</div>
<script>
  function confirmerValidation(){
    check=window.confirm("Voulez vous vraiment ajouter cette équipe ?");
    res=false;
    if (check){
      res=true;
    }
    return res;
  }
  document.querySelector("#Tableau").setAttribute("class","active");
</script>
{% endblock %}
