{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Paytone+One" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/voir_equipes.css') }}">
{% endblock %}
{% block scripts %}
<script src="/static/js/uikit.min.js"></script>
<script src="/static/js/uikit-icons.min.js"></script>
{% endblock %}
{% block main %}
<div class="container-fluid mainCont">
    <div class="container">
      <h1 class="text-center">Voici les équipes inscrites!</h1>
      {% if route == "tableau" %}
      <a href="/tableau_de_bord/{{tournoi.idT}}"><button class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour</button></a>
      {% endif %}

      {% if route == "voirCompet" %}
      <a href="/voir_competition/{{tournoi.idT}}"><button class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour</button></a>
      {% endif %}
      {% if tournoi.etatT==0 and current_user.is_authenticated and (current_user.idAdmin==tournoi.idAdmin) and tournoi.nbEquipe>nbEquipe %}
      <a disabled=true href='/tableau_de_bord/{{tournoi.idT}}/equipes/creer_equipe'><button class="btn  btn-lg btn-success" id="buttonAddEquipe">Ajouter équipe <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></a>
      {% elif tournoi.etatT==0 and current_user.is_authenticated and (current_user.idAdmin==tournoi.idAdmin) and tournoi.nbEquipe==nbEquipe %}
      <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/creer_equipe'><button class="btn btn-lg btn-success" id="buttonAddEquipe" disabled=true>Ajouter équipe <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></a>
      {% endif %}
    </div>

    <br>

  <div class="container liste_equipes">
  <div class="container divCartes">
    <div class="row center-block">

        <div class="col-md-4 col-sm-6 ">
          <div class="">
            <ul uk-accordion>
              {% if (equipes|length) == 1 %}
              <li>
                  <a class="uk-accordion-title" href="#">
                    {{ equipes[0].nomE }}
                  </a>
                  <div class="uk-accordion-content">
                    <div class="">
                      <p>Numéro : {{ equipes[0].machineE }}</p>
                    </div>
                    <table class="uk-table uk-table-divider">
                      <thead>
                        <tr>
                          <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Nom</th>
                          <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Prenom</th>
                        </tr>
                      </thead>
                    {% for participant in participants[equipes[0].idE] %}
                      <tbody>
                        <tr>
                          <td class="uk-text-center">{{ participant.nomP }}</td>
                          <td class="uk-text-center">{{ participant.prenomP }}</td>
                        </tr>
                      </tbody>
                    {% endfor %}
                  </table>
                  {% if tournoi.etatT==0 and current_user.is_authenticated and (current_user.idAdmin==tournoi.idAdmin) %}
                  <a href='/tableau_de_bord/{{tournoi.idT}}/supprimer_equipe/{{equipes[0].idE}}'><button class="btn btn-primary" id="dangernDeleteEquipe"> <span class="glyphicon glyphicon-remove"></span></button></a>
                  <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[0].idE}}/modifier_equipe'><button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button></a>
                  {% if (tournoi.nbParticipantsMax) > equipes[0].nbParticipant %}
                  <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[0].idE}}/ajouter_un_membre'><button class="btn btn-success"> <span class="glyphicon glyphicon-plus"></span></button></a>
                  {% endif %}
                  {% endif %}
                  </div>
              </li>
              {% endif %}
              {% for j in range((equipes|length)//3) %}
                  <li>
                      <a class="uk-accordion-title" href="#">
                        {{ equipes[j].nomE }}
                      </a>
                      <div class="uk-accordion-content">
                        <div class="">
                          <p>Numéro : {{ equipes[j].machineE }}</p>
                        </div>
                        <table class="uk-table uk-table-divider">
                          <thead>
                            <tr>
                              <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Nom</th>
                              <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Prenom</th>
                            </tr>
                          </thead>
                        {% for participant in participants[equipes[j].idE] %}
                          <tbody>
                            <tr>
                              <td class="uk-text-center">{{ participant.nomP }}</td>
                              <td class="uk-text-center">{{ participant.prenomP }}</td>
                            </tr>
                          </tbody>
                        {% endfor %}
                      </table>
                      {% if tournoi.etatT==0 and current_user.is_authenticated and (current_user.idAdmin==tournoi.idAdmin) %}
                      <a href='/tableau_de_bord/{{tournoi.idT}}/supprimer_equipe/{{equipes[j].idE}}' onclick="return confirmerValidation()"><button class="btn btn-danger"> <span class="glyphicon glyphicon-remove"></span></button></a>
                      <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[j].idE}}/modifier_equipe'><button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button></a>
                        {% if (tournoi.nbParticipantsMax) > equipes[j].nbParticipant %}
                        <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[j].idE}}/ajouter_un_membre'><button class="btn btn-success"> <span class="glyphicon glyphicon-plus"></span></button></a>
                        {% endif %}
                      {% endif %}
                      </div>
                  </li>
                {% endfor %}

                  {% if ( ((equipes|length) != 1) and ( (((equipes|length)%3) == 1) or (((equipes|length)%3) == 2) ) ) %}
                  <li>
                    <a class="uk-accordion-title" href="#">
                      {{ equipes[-1].nomE }}
                    </a>
                    <div class="uk-accordion-content">
                      <div class="">
                        <p>Numéro poste : {{ equipes[-1].machineE }}</p>
                      </div>
                      <table class="uk-table uk-table-divider">
                        <thead>
                          <tr>
                            <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Nom</th>
                            <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Prenom</th>
                          </tr>
                        </thead>
                        {% for participant in participants[equipes[-1].idE] %}
                        <tbody>
                          <tr>
                            <td class="uk-text-center">{{ participant.nomP }}</td>
                            <td class="uk-text-center">{{ participant.prenomP }}</td>
                          </tr>
                        </tbody>
                        {% endfor %}
                      </table>
                      {% if tournoi.etatT==0 and current_user.is_authenticated and (current_user.idAdmin==tournoi.idAdmin) %}
                      <a href='/tableau_de_bord/{{tournoi.idT}}/supprimer_equipe/{{equipes[-1].idE}}' onclick="return confirmerValidation()"><button class="btn btn-danger text-center"> <span class="glyphicon glyphicon-remove"></span></button></a>
                      <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[-1].idE}}/modifier_equipe'><button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button></a>
                        {% if (tournoi.nbParticipantsMax) > equipes[-1].nbParticipant %}
                        <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[-1].idE}}/ajouter_un_membre'><button class="btn btn-success"> <span class="glyphicon glyphicon-plus"></span></button></a>
                        {% endif %}
                      {% endif %}
                    </div>
                  </li>
                  {% endif %}

            </ul>
         </div>
       </div><!-- /.col-lg-4 -->

        <div class="col-md-4 col-sm-6 ">
          <div class="">
            <ul uk-accordion>

              {% for j in range((equipes|length)//3, (((equipes|length)//3)*2)) %}
                  <li>
                      <a class="uk-accordion-title" href="#">
                        {{ equipes[j].nomE }}
                      </a>
                      <div class="uk-accordion-content">
                        <div class="">
                          <p>Numéro : {{ equipes[j].machineE }}</p>
                        </div>
                        <table class="uk-table uk-table-divider">
                          <thead>
                            <tr>
                              <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Nom</th>
                              <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Prenom</th>
                            </tr>
                          </thead>
                        {% for participant in participants[equipes[j].idE] %}
                          <tbody>
                            <tr>
                              <td class="uk-text-center">{{ participant.nomP }}</td>
                              <td class="uk-text-center">{{ participant.prenomP }}</td>
                            </tr>
                          </tbody>
                        {% endfor %}
                      </table>
                      {% if tournoi.etatT==0 and current_user.is_authenticated and (current_user.idAdmin==tournoi.idAdmin) %}
                      <a href='/tableau_de_bord/{{tournoi.idT}}/supprimer_equipe/{{equipes[j].idE}}' onclick="return confirmerValidation()"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button></a>
                      <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[j].idE}}/modifier_equipe'><button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button></a>
                        {% if (tournoi.nbParticipantsMax) > equipes[j].nbParticipant %}
                        <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[j].idE}}/ajouter_un_membre'><button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button></a>
                        {% endif %}
                      {% endif %}
                      </div>
                  </li>
                {% endfor %}
                  {% if (((equipes|length)%3) == 2)%}
                  <li>
                    <a class="uk-accordion-title" href="#">
                      {{ equipes[-2].nomE }}
                    </a>
                    <div class="uk-accordion-content">
                      <div class="">
                        <p>Numéro poste : {{ equipes[-2].machineE }}</p>
                      </div>
                      <table class="uk-table uk-table-divider">
                        <thead>
                          <tr>
                            <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Nom</th>
                            <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Prenom</th>
                          </tr>
                        </thead>
                        {% for participant in participants[equipes[-2].idE] %}
                        <tbody>
                          <tr>
                            <td class="uk-text-center">{{ participant.nomP }}</td>
                            <td class="uk-text-center">{{ participant.prenomP }}</td>
                          </tr>
                        </tbody>
                        {% endfor %}
                      </table>
                      {% if tournoi.etatT==0 and current_user.is_authenticated and (current_user.idAdmin==tournoi.idAdmin) %}
                      <a href='/tableau_de_bord/{{tournoi.idT}}/supprimer_equipe/{{equipes[-2].idE}}' onclick="return confirmerValidation()"><button class="btn btn-danger"> <span class="glyphicon glyphicon-remove"></span></button></a>
                      <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[-2].idE}}/modifier_equipe'><button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button></a>
                        {% if (tournoi.nbParticipantsMax) > equipes[-2].nbParticipant %}
                        <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[-2].idE}}/ajouter_un_membre'><button class="btn btn-success"> <span class="glyphicon glyphicon-plus"></span></button></a>
                        {% endif %}
                      {% endif %}
                    </div>
                  </li>
                  {% endif %}
            </ul>
         </div>
       </div><!-- /.col-lg-4 -->

        <div class="col-md-4 col-sm-6 ">
            <ul uk-accordion>
              {% for j in range(((equipes|length)//3)*2, ((equipes|length)//3)*3) %}
                  <li>
                      <a class="uk-accordion-title" href="#">
                        {{ equipes[j].nomE }}
                      </a>
                      <div class="uk-accordion-content">
                        <div class="">
                          <p>Numéro poste :{{ equipes[j].machineE }}</p>
                        </div>
                        <table class="uk-table uk-table-divider">
                          <thead>
                            <tr>
                              <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Nom</th>
                              <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Prenom</th>
                            </tr>
                          </thead>
                        {% for participant in participants[equipes[j].idE] %}
                          <tbody>
                            <tr>
                              <td class="uk-text-center">{{ participant.nomP }}</td>
                              <td class="uk-text-center">{{ participant.prenomP }}</td>
                            </tr>
                          </tbody>
                        {% endfor %}
                      </table>
                      {% if tournoi.etatT==0 and current_user.is_authenticated and (current_user.idAdmin==tournoi.idAdmin) %}
                      <a href='/tableau_de_bord/{{tournoi.idT}}/supprimer_equipe/{{equipes[j].idE}}' onclick="return confirmerValidation()"><button class="btn btn-danger"> <span class="glyphicon glyphicon-remove"></span></button></a>
                      <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[j].idE}}/modifier_equipe'><button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button></a>
                        {% if (tournoi.nbParticipantsMax) > equipes[j].nbParticipant %}
                        <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[j].idE}}/ajouter_un_membre'><button class="btn btn-success"> <span class="glyphicon glyphicon-plus"></span></button></a>
                        {% endif %}
                      {% endif %}
                      </div>
                  </li>
                {% endfor %}
            </ul>
         </div>
       </div><!-- /.col-lg-4 -->
       </div><!-- /.row -->

     </div>
   </div>
</div>
<script type="text/javascript">
  function confirmerValidation(){
    check=window.confirm("Voulez vous vraiment supprimer cette équipe ?");
    res=false;
    if (check){
      res=true;
    }
    return res;
  }
  if((document.querySelector('#buttonAddEquipe'))){
    console.log("ok");
    document.querySelector("#Tableau").setAttribute("class","active");
  }
  else{
    console.log("ok");
    document.querySelector('#dropdown').setAttribute("class","active");
  }

</script>
{% endblock %}
