{% extends "base.html" %}
{% block main %}

<div id="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="jumbotron">
        <h1>Cyber Monsieur Loyal</h1>
        <p class="big">« Soyez le chef d'orchestre de votre compétition »</p>
        <p class="small">Grâce à Cyber Monsieur Loyal créez votre compétition facilement</p>
        <a href="#" class="btn btn-default">C'est parti<i class="fa fa-send"></i></a>
      </div>
    </div>
  </div>
</div>

<section id="service">
  <div class="container foot">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
  <footer class="footer">
    <div class="container">
      <p class="text-muted">IUT Orléans 2018-2019</p>
    </div>
  </footer>
</section>
{% endblock %}
