{% extends "base.html" %}
{% block main %}

<div id="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="jumbotron">
        <h1 class="title">Cyber Monsieur Loyal</h1>
        <p class="big">« Soyez le chef d'orchestre de votre compétition »</p>
      </div>
    </div>
  </div>
</div>

<section id="service">
  <div class="container foot">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="./static/icons/pen.png" alt="..." height="64px" width="64px">
          <div class="caption">
            <h3>Créer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="./static/icons/settings.png" alt="..." height="64px" width="64px">
          <div class="caption">
            <h3>Gérer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="./static/icons/football-field.png" alt="..." height="64px" width="64px">
          <div class="caption">
            <h3>Animer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="./static/icons/research.png" alt="..." height="64px" width="64px">
          <div class="caption">
            <h3>Consulter</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
  <footer class="footer">
    <div class="container">
      <p class="text-muted">IUT Orléans 2018-2019</p>
    </div>
  </footer>
</section>
{% endblock %}
