{% extends "base.html" %}
{% block styles %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='css/membres_equipe.css') }}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Paytone+One" />
{% endblock %}
{% block main %}
<div class="voirCompetition container-fluid">
  <div class="container">
    <form role="form" method="POST" action="voirCompetitionActives.html">
      <h1 class="text-center">Membres</h1>
    </form>
</div>
  <div class="members">
    <div class="row">
      {% for participant in participants %}

           <div class="col-md-4">
              <p> <img class="rounded float-left" src="/static/icons/stick_figure.png" alt="" height="50px" width="25px">
                  {{ participant.nomP }} {{ participant.prenomP }}<p>
          </div>

      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
