{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/voirMatchs.css') }}">
{% endblock %}
{% block main %}
<div class="container">
  <h1>Résultat de la partie
    {% set x = "" %}
    {% for i in range((equipes|length)) %}
      {% if i != (equipes|length)-1 %}
        {% set x = x + (equipes[i].nomE + " / ") %}
        {{ x }}
      {% else %}
        {% set x = x + (equipes[i].nomE) %}
        {{ x }}
      {% endif %}
    {% endfor %}
  </h1>
  {% for key, value in dico_resultat.items() %}
    <p>
      {{key.nomE}} : {{value}} points.
    </p>
  {% endfor %}
</div>
<a href='/tableau_de_bord/{{tournoi}}/matchs'><button class="btn btn-primary center-block">Retour vers les matchs</button></a>
{% endblock %}
