{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/voirMatchs.css') }}">
{% endblock %}
{% block main %}
<div class="container text-center">
  <h1>Résultat de la partie {{ partie.idPartie }}</h1>
  {% for key, value in dico_resultat.items() %}
    <p>
      {{key.nomE}} : {{value}} points.
    </p>
  {% endfor %}
</div>
<a href='/tableau_de_bord/{{tournoi}}/matchs'><button class="btn btn-primary center-block">Retour vers les matchs</button></a>
{% endblock %}
