{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tableauDeBord.css') }}">
{% endblock %}
{% block main %}
<div class="banner" id="container">
    <h1 class="text-center"><strong>Tableau de bord</strong></h1>
    <h2 class="text-center"><strong>Mes compétitions</strong></h2>
    <ul>
        {% for x in tournoi %}
        <li class="text-center"><a href="/voir_competition/{{x.idT}}">{{x.intituleT}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
