{% extends "base.html" %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tournoi.css') }}">
{% endblock %}
{% block main %}
  <div class=" banner">
    <div class="">
        <div class="row">
            <div class="col-md-3 sidebar">
                <nav>
                    <img class="center-block" src="{{ tournoi.logoT }}" alt="Generic placeholder image" width="140" height="140">
                    <h2 class="text-center">{{ tournoi.intituleT }}</h2>
                    <p class="text-center">Organisateur : Michel</p>
                    <p class="text-center">Lieu : {{ tournoi.lieuT }}</p>
                    <p class="text-center">Début : {{ tournoi.dateT }}</p>
                    <p class="text-center">Fin : 12/06/2019</p>
                    <ul>
                      <a href="/tableau_de_bord/{{tournoi.idT}}/matchs"><button class="btn btn-success btn-lg inputStyle col-md-11">Voir les matchs</button></a>
                      <a href="/tableau_de_bord/{{tournoi.idT}}/stream"><button class="btn btn-success btn-lg inputStyle col-md-11">Stream</button></a>
                      <a href="/tableau_de_bord/{{tournoi.idT}}/photos"><button class="btn btn-success btn-lg inputStyle col-md-11">Photos</button></a>
                      <a href="/tableau_de_bord/{{tournoi.idT}}/equipes"><button class="btn btn-success btn-lg inputStyle col-md-11">Equipes</button></a>
                      <a href="/tableau_de_bord/{{tournoi.idT}}/parametres"><button class="btn btn-success btn-lg inputStyle col-md-11">Modifier tournoi</button></a>
                    </ul>
                </nav>
            </div>
            <div class="col-md-8">
                <div>
                    <h2>
                        <strong>Description</strong>
                    </h2>
                    <p>{{ tournoi.descT }}
                    </p>
                </div>
                <div>
                    <h2>
                        <strong>Réglement</strong>
                    </h2>
                    <p>
                      {{ tournoi.regleT }}
                    </p>
                </div>
                <div>
                    <h2>
                        <strong>Historique</strong>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
