{% extends "base.html" %}
{% block main %}
<div class="">

	<div class="panneau_haut">    <!-- Partie du haut, avec le titre et les bouttons -->
		<button>
		<h2>Matchs du Tournois</h2>
		<button>
	</div>
	
	<div class="block_classement">      <!-- Partie de gauche, avec le classement équipes -->
		<h3>Classement</h3>
		<div class="row">
		</div>
	</div>
	
	<div class="block_matchs">			<!-- Partie de droite, avec la liste des prochains matchs -->
		<h3>Matchs a venir</h3>
		<div class="row">
		</div>
	</div>
	
</div>
{% endblock %}