{% extends "base.html" %}
{% block main %}

<h1>Voici les compétitions en cours!</h1>

<div class="recherche">
  <form role="form" method="POST" action="voirCompetition.html">
    <input class="rechercheComp" type="text" value="">
    <input class="btn btn-sm btn-outline-secondary" type="submit" value="Recherche">
  </form>
<div>
<div class="listeTournois">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="https://ccfcquebec.files.wordpress.com/2010/04/image-petanque1.jpg" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Discipline : Pétanque</p>
                        <p class="card-text">Participants : 18/26</p>
                        <p class="card-text">Mode : Elimination direct</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">details</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                

      </div>
    </div>
  </div>
</div>
{% endblock %}
