{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/voirMatchs.css') }}">
{% endblock %}
{% block main %}
<div class="voirMatches">

	<div class="panneau_haut">    <!-- Partie du haut, avec le titre et les bouttons -->
		<h2>Matchs du Tournois</h2>
	</div>
 <div class="row">
	<div class="block_classement col-md-6">      <!-- Partie de gauche, avec le classement équipes -->
		<h3>Classement</h3>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Place</th>
					<th scope="col">Nom d'equipe</th>
					<th scope="col">Points</th>
				</tr>
			</thead>
			<tbody>
			{% for equipe in equipes %}
				<tr>
					<td>1</td>
				  <td>{{ equipe.nomE }}</td>
					<td>{{ equipe.points }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="block_matchs col-md-4">
		<div class="block_matchs_inter">			<!-- Partie de droite, avec la liste des prochains matchs -->
			<h3>Historique des match</h3>
			<div class="row">

				<div class="col-md-10">
		 				<p class="text-center">{ match.equipe1 } VS { match.equipe2 }</p>
		 				<p class="text-center">Carte de la partie: { match.carte }</p>
		 		</div>
				<div class="col-md-10">
		 				<p class="text-center">{ match.equipe1 } VS { match.equipe2 }</p>
		 				<p class="text-center">Carte de la partie: { match.carte }</p>
		 		</div>
				<div class="col-md-10">
		 				<p class="text-center">{ match.equipe1 } VS { match.equipe2 }</p>
		 				<p class="text-center">Carte de la partie: { match.carte }</p>
		 		</div>
			</div>
		</div>
		<div class="block_matchs_inter">
			<h3>Matchs a venir</h3>
			<div class="row">
				<div class="col-md-10">
		 				<p class="text-center">{ match.equipe1 } VS { match.equipe2 }</p>
		 				<p class="text-center">Carte de la partie: { match.carte }</p>
		 		</div>
				<div class="col-md-10">
		 				<p class="text-center">{ match.equipe1 } VS { match.equipe2 }</p>
		 				<p class="text-center">Carte de la partie: { match.carte }</p>
		 		</div>
				<div class="col-md-10">
		 				<p class="text-center">{ match.equipe1 } VS { match.equipe2 }</p>
		 				<p class="text-center">Carte de la partie: { match.carte }</p>
		 		</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
